---
title: Pandasの使い方
subject: pandasの使い方
keywords: [python, pandas]
authors:
  - Shota Takahashi
exports:
  - format: pdf  
---

In [2]:
import random
import pandas as pd
print(pd.__version__)

2.2.0

/var/folders/tv/9pv2t92113g5hw2kp4g351_00000gn/T/ipykernel_42797/967656365.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

乱数を使ってサンプルデータを用意します

- ``x``: ガウス分布
- ``y``: `(4, 8)`の一様分布
- ``y``: `(0, 10)`の整数の一様分布

In [3]:
r = [ [random.gauss(), random.uniform(4, 8), random.randint(0, 10)] for i in range(1000)]
data = pd.DataFrame(r, columns=["x", "y", "z"])
data

            x         y   z
0   -1.205022  7.668061   8
1    1.306189  5.737713  10
2   -1.530406  6.348335   8
3   -0.741834  7.981016   3
4   -0.460299  7.348514   5
..        ...       ...  ..
995 -0.894864  5.529121   7
996  1.185203  6.232021   2
997  0.793915  5.056949   8
998  0.670702  7.276337  10
999 -0.189357  4.115579   0

[1000 rows x 3 columns]